.messages {
  display: flex;
  flex-direction: column;
  margin: 20px;

  .message {
    padding: 5px;
    &.outgoing {
      background-color: red;
    }

    &.incoming {
      background-color: blue;
    }
  }
}
